body {
  background-color: transparent;
}

.widget-holder {
  padding: 15px;
}

.fl-widget-provider {
  width: 100%;
  height: 24px;
  border: none;
}

.data-source-query {
  min-height: 24px;
  margin-bottom: 0;
}

.help-icon {
  font-size: 16px;
  margin-left: 8px;
  color: #333;
  opacity: 0.5;
}
